<h1><i class="fa fa-user-plus "></i> Cadastro de Cliente</h1>
<form>
  <div class="form-row">
    <div class="form-group col-md-5">
      <label for="ipNome">Nome</label>
      <input type="text" class="form-control" id="ipNome" name="ipNome" placeholder="Digite o nome do cliente">
    </div>
    <div class="form-group col-md-4">
      <label for="ipEmail">Email</label>
      <input type="email" class="form-control" id="ipEmail" name="ipEmail" placeholder="Digite o email do cliente">
    </div>
    <div class="form-group col-md-3">
        <label for="ipTelefone">Telefone</label>
        <input type="text" class="form-control" id="ipTelefone" name="ipTelefone" placeholder="Digite o telefone do cliente">
      </div>
  </div>
  <div class="form-row text-center">
  <button type="submit" class="btn btn-primary col-md-2"><i class="fa fa-save" aria-hidden="true"></i> Salvar</button>
  </div>
</form>

